.landing-page-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 75vh;
    background-color: aqua;
    margin: 4rem;
}

.landing-page-section {
    background-color: aliceblue; 
}
