/* ---------- Mobile ---------- */

.a {
  text-decoration: none;
}
.project-image {
  max-width: 100%;
  max-height: 100%;
  display: block; /* remove extra space below image */
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.project-title {
  color: var(--color-one);
}

.div1 {
  margin-top: 1em;
}
.div2 {
  margin-top: 1em;
  text-align: end;
}
.div3 {
  margin-top: 2em;
}
.div4 {
  margin-top: 2em;
  text-align: end;
}

.img-wrapper-answerly {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  width: 100%;
  height: 100%;
  background-image: url("https://i.imgur.com/8GFm3wo.png");
  /* background-image: url("https://i.imgur.com/9frbnIA.png"); */
  background-position: center;
  background-size: cover; /* Resize the background image to cover the entire container */
}

.img-wrapper-lift {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  width: 100%;
  height: 100%;
  background-image: url("https://i.imgur.com/yOf2thg.png");
  background-position: center;
  background-size: cover; /* Resize the background image to cover the entire container */
}

.img-wrapper-tempura {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  width: 100%;
  height: 100%;
  background-image: url("https://i.imgur.com/eNVaeWB.png");
  background-position: center;
  background-size: cover; /* Resize the background image to cover the entire container */
}

.img-wrapper-box {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  width: 100%;
  height: 100%;
  background-image: url("https://i.imgur.com/5lfnGf7.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.img-wrapper-meddigital {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  width: 100%;
  height: 100%;
  background-image: url("https://i.imgur.com/WPiApcm.jpeg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

div.content-right-icon {
  background-color: var(--color-card);
  justify-items: end;
}

.icons-wrapper {
  background-color: var(--color-card);
  padding: 0.5em;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 4px;
  float: right;
  color: var(--color-one);
  text-align: end;
}

.icon-wrapper {
  color: var(--color-one);
  margin-left: 0.5em;
}

.icon-projects {
  padding-right: 0.5em;
  color: var(--color-one);
}

/* ---------- Desktop ---------- */

@media screen and (min-width: 1120px) {
  .project-image {
    max-width: 100%;
    max-height: 100%;
    display: block; /* remove extra space below image */
  }

  .wrapper-project {
    margin-top: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .div1 {
    margin-top: 1em;
  }
  .div2 {
    margin-top: 3em;
    text-align: end;
  }
  .div3 {
    margin-top: 1em;
  }
  .div4 {
    margin-top: 3em;
    text-align: end;
  }
}
