/* -------------- Mobile -------------- */

.my-music-me {
  height: 100px;
  border-radius: 4px;
  border: solid 4px;
  border-image-source: linear-gradient(30deg, var(--color-gradient) 15%, var(--color-one) 100%);
}

.my-music-radio {
  height: 100px;
  border-radius: 4px;
  border: solid 4px var(--color-one);
}

.my-music-wrapper {
  margin: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.my-music-div {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* -------------- Desktop -------------- */

@media screen and (min-width: 1120px) {
  .my-music-wrapper {
    margin: 2em;
    display: grid;
    grid-template-columns: 65% 35%;
  }

  .my-music-me {
    height: 500px;
    border-radius: 4px;
    border: solid 4px var(--color-one);
  }

  .my-music-radio {
    height: 250px;
    border-radius: 4px;
    border: solid 4px var(--color-one);
  }
}
