img {
    height: 500px;
}

.picture {
    align-self: center;
}

.rounded {
    border-radius: 50%;
    border: 8px solid #5cdb95;
}

.name {
    color: #5cdb95;
    margin: 1em;
    text-align: center;
}

.description {
    color: white;
    margin: 1em;
    text-align: center;
}

/* ---------- Links ---------- */

.little-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-left: 5em;
    margin-right: 5em;
}

.little-info-left-up {
    margin-top: 3em;
    justify-content: start;
    text-align: start;
    width: 100%;
    color: #5cdb95;
}

.little-info-right-up {
    margin-top: 3em;
    text-align: end;
    width: 100%;
    justify-content: end;
    color: #5cdb95;
}

.little-info-left-down {
    margin-top: 1em;
    justify-content: start;
    text-align: start;
    width: 100%;
    color: #5cdb95;
}

.little-info-right-down {
    margin-top: 1em;
    text-align: end;
    width: 100%;
    justify-content: end;
    color: #5cdb95;
}


a.little-paragraph {
    cursor: pointer;
    text-decoration: none;
    color: #5cdb95;
}

a.little-paragraph:hover {
    color: #379863;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

/* ---------- Mobile ---------- */


@media screen and (max-width: 650px) {
    img {
        height: 250px;
    }

    .little-links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin-left: 1em;
        margin-right: 1em;
    }
}