/* ---------- Text Edition ---------- */

mark {
    color: #5cdb95;
    background-color: rgb(18, 21, 25);
}

.content-right {
    text-align: right;
}

.card-title {
    margin: 1em;
    color:#5cdb95;
}