.movie {
    height: 100px;
    border-radius: 4px;
    border: solid 4px #5cdb95;
}

.movie-wrapper {
    margin: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.movie-div {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

@media screen and (min-width: 1120px) {

    .movie {
        height: 500px;
        border-radius: 4px;
        border: solid 4px #5cdb95;
    }
    

}