.footer-separator {
  margin-top: 4em;
  margin-left: 4em;
  margin-right: 4em;
  padding: 1em;
  border-top: solid 1px var(--color-separator);
}

.footer-icon {
    margin-left: 1em;
    margin-right: 1em;
    color: var(--color-one);
}

.footer-icon:hover {
    margin-left: 1em;
    margin-right: 1em;
    color: var(--color-two);
    transition: all 2s ease-out;
}
