* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: rgb(12,14,18);
  --color-card: rgb(18,21,25);
  --color-one: #5cdb95;
  --color-two: #379863;
}

.content-right {
  text-align: right;
}

.card-title {
  margin: 1em;
  color: var(--color-one);
}

mark {
  color: var(--color-one);
  background-color: var(--color-card)
}

.card-info {
  margin: 1em;
  color: white;
}

.separator {
  border: 1px solid white;
  border-radius: 5px;
}

.card-section {
  margin: 1em;
  color: var(--color-one);
}
