* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  /* background-color: rgb(12, 14, 18); */
  background-color: rgb(18, 21, 25);
  /* --color-card: rgb(18, 21, 25); */
  --color-card: #464e59;
  /* --color-one: #5cdb95; */
  /* --color-two: #379863; */
  --color-one: #64d0d1;
  --color-two: #3e9596;
  --color-gradient: #5cdb95;
  --color-separator: #464e59;
}

.content-right {
  text-align: right;
}

.card-title {
  margin: 1em;
  color: var(--color-one);
}

mark {
  color: var(--color-one);
  background-color: rgb(18, 21, 25);
}

.card-info {
  margin: 1em;
  color: white;
}

.separator {
  border: 1px solid white;
  border-radius: 5px;
}

.card-section {
  margin: 1em;
  color: var(--color-one);
}

$blue: #64d0d1;

.svg{
  stroke:$blue;
  position:absolute;
  bottom: -100vh;
  transform-style: preserve-3d;
}

$total: 10;
@for $i from 1 through $total {
  $scale:random(2) - .4;
  
  .svg:nth-child(#{$i}){
    left:random(120) * 1% - 20;
    animation: raise#{$i} 6 + random(15) +s linear infinite;
    animation-delay:random(5) - 5 + s;
    transform: scale(.3 * $i - .6) rotate(random(360) + deg);
    z-index: - 7;
    filter: blur($i - 6 + px);

    @keyframes raise#{$i} {
      to{
       bottom:150vh;
       transform: scale(.3 * $i - .6) rotate(random(360) + deg);
      }
    }
  }
}

